@model BankIdLoggedInModel

<p>
    <h1>Logged in</h1>

<ul>
    <li>Name: <b>@Model.Name</b></li>
    <li>Birthdate: <b>@Model.PersonId</b></li>
    <li>SSN: <b>@Model.IdentityProvider</b></li>
</ul>
</p>